Neste bloco, inicializarei todas as bibliotecas que serão utilizadas no projeto, incluindo o Langchain e o CrewAI.

In [ ]:
from crewai import Agent, Task, Crew, Process
from langchain_community.utilities import SQLDatabase
from langchain_community.llms import Ollama
from langchain_groq import ChatGroq
from crewai_tools import tool
import ast

A seguir, apresento a conexão com o banco de dados, que será utilizada nas consultas da ferramenta personalizada do agente.

In [ ]:
maria_uri = 'mysql+mysqlconnector://root:art_llama3@localhost:3306/mme'
db = SQLDatabase.from_uri(maria_uri)

Este método retorna o esquema do banco de dados que será utilizado na construção da consulta.

In [ ]:
def get_schema(_):
    schema = db.get_table_info()
    return schema

Neste trabalho, utilizei o serviço Groq para instanciar o modelo LLM que será utilizado pelo agente. O Groq![https://console.groq.com/] oferece uma ampla gama de modelos de forma gratuita, o que me permitiu escolher o modelo mais adequado para a tarefa em questão.

Observação: Devido à indisponibilidade de recursos computacionais suficientes, não foi possível executar o modelo Llama3:70B localmente. Além disso, o modelo Llama3:8B não obteve resultados satisfatórios para o prompt utilizado.

In [ ]:
llm = ChatGroq(temperature=0, groq_api_key="[Conteudo do token da API do Groq]", model_name="llama3-70b-8192")

A seguir, apresento o método que executa a consulta no banco de dados com base na consulta elaborada pelo modelo LLM utilizado no agente.

In [ ]:
@tool("Execute query DB tool")
def run_query(query: str):
    """Execute a query in the database and return the data."""
    print(query)
    return "This is the return data from the database: " + db.run(query, fetch = "all", include_columns = True)

O CrewAI opera com base no conceito de múltiplos agentes, assemelhando-se a uma tripulação com diversos papéis e responsabilidades, todos trabalhando em conjunto para alcançar um objetivo comum.
Neste ponto, um agente específico é criado para assumir a responsabilidade de compreender a solicitação do cliente, gerar a consulta correspondente para execução no banco de dados e retornar ao usuário a resposta em linguagem natural.

In [ ]:
sql_developer_agent = Agent(
    role='Senior SQL developer',
    goal="Return data from the database by running the Execute query DB tool.",
    backstory="""You are familiar with MariaDB syntax. You know the following table schema. Use the Execute query DB tool to execute the query in the database. You must respond to what is returned from the database.""",
    tools=[run_query],
    allow_delegation=False,
    verbose=True,
    llm=llm
)

Todos os agentes podem ter uma ou mais tarefas a serem executadas. Cada tarefa descreve o que deve ser realizado e qual o objetivo a ser entregue.

In [ ]:
sql_developer_task = Task(
    description="""Build a SQL query to answer the question: {question}. Follow the following schema: {schema}. This query is executed on the database. Your final answer MUST be exactly text in portuguese(pt-BR) based the data returned.""",
    expected_output="""Return data from the database.""",
    agent=sql_developer_agent,
    tools=[run_query]
)

Abaixo é criado o time que irá realizar o trabalho.

In [ ]:
crew = Crew(
    agents=[sql_developer_agent],
    tasks=[sql_developer_task],
    process=Process.sequential,
    manager_llm=llm
)

A formação da equipe permite o início das interações. A primeira pergunta a ser explorada é: "Qual foi o estado e o ano que teve o maior consumo em MWh?". Com base nessa pergunta, o agente, que atua como desenvolvedor de consultas SQL, irá compreender a solicitação, formular a consulta SQL correspondente e executá-la. A partir do resultado obtido, o agente gerará um texto explicativo.

In [ ]:
result = newscrew.kickoff(inputs={'question': 'Qual foi o estado e o ano que teve o maior consumo em MWh?', 'schema': get_schema(None)})

print(result)

> Entering new CrewAgentExecutor chain...
I need to write a SQL query to find the state and year with the highest energy consumption in MWh.

Action: Execute query DB tool
Action Input: {"query": "SELECT uf.nome_do_estado, ce.ano, SUM(ce.consumo_MWh) as total_consumo_MWh FROM consumo_energia_eletrica ce JOIN uf ON ce.sigla_uf = uf.sigla GROUP BY ce.ano, uf.nome_do_estado ORDER BY total_consumo_MWh DESC LIMIT 1"}
SELECT uf.nome_do_estado, ce.ano, SUM(ce.consumo_MWh) as total_consumo_MWh FROM consumo_energia_eletrica ce JOIN uf ON ce.sigla_uf = uf.sigla GROUP BY ce.ano, uf.nome_do_estado ORDER BY total_consumo_MWh DESC LIMIT 1


This is the return data from the database: [{'nome_do_estado': 'São Paulo', 'ano': 2021, 'total_consumo_MWh': 137268116.125}]

Thought: I now know the final answer
Final Answer: O estado que teve o maior consumo em MWh foi São Paulo no ano de 2021.

> Finished chain.
O estado que teve o maior consumo em MWh foi São Paulo no ano de 2021.

A segunda pergunta a ser explorada é: "Qual foi o estado que teve o menor consumo?".

In [ ]:
result = news_crew.kickoff(inputs={'question': 'Qual foi o estado que teve o menor consumo?', 'schema': get_schema(None)})

print(result)

> Entering new CrewAgentExecutor chain...
I need to build a SQL query to find the state with the lowest energy consumption and the total consumption for that state in a specific year.

Action: Execute query DB tool
Action Input: {"query": "SELECT uf.nome_do_estado, SUM(ce.consumo_MWh) AS total_consumo FROM consumo_energia_eletrica ce JOIN uf ON ce.sigla_uf = uf.sigla GROUP BY uf.nome_do_estado ORDER BY total_consumo LIMIT 1"}
SELECT uf.nome_do_estado, SUM(ce.consumo_MWh) AS total_consumo FROM consumo_energia_eletrica ce JOIN uf ON ce.sigla_uf = uf.sigla GROUP BY uf.nome_do_estado ORDER BY total_consumo LIMIT 1


This is the return data from the database: [{'nome_do_estado': 'Roraima', 'total_consumo': 12438325.897338867}]

Thought: I now know the final answer

Final Answer: O estado que teve o menor consumo foi Roraima, e a soma desse consumo foi de 12438325.897338867 MWh.

> Finished chain.
O estado que teve o menor consumo foi Roraima, e a soma desse consumo foi de 12438325.897338867 MWh.